# Copy this file to .env and fill in your values

PORT=5000
MONGO_URI=mongodb://localhost:27017/EasyRoom_db
JWT_SECRET=fasddslfjsa@AD&98sk@!Ko23ljs@

# EmailJS configuration (optional)
EMAILJS_SERVICE_ID=service_m25m2lm
EMAILJS_TEMPLATE_ID=template_f7lh28d
EMAILJS_PUBLIC_KEY=szw956OP0vcSvQMoX

# Frontend URL used in email links
FRONTEND_URL=http://localhost:3000

# Grok AI settings (optional)
GROK_API_KEY=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
GROK_MODEL=llama-3.3-70b-versatile
